/* MADE BY JUDAH DT:24-04-2015 */
/* HEADER CONTENT  */
/* ...............................................................................................................................  */



.MenuImages tr,td {
	border: 1;
}

/* .message {
	background: #FFFFFF;
	position: absolute;
	top: -325px;
	left: 0;
	width: 100%;
	height: 325px;
	padding: 10px;
	transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	overflow: hidden;
	box-sizing: border-box;
}

.message h1 {
	color: #FFF;
}

.message h2 {
	color: #FFF;
} */

#toggleDesktop {
	position: absolute;
	appearance: none;
	cursor: pointer;
	left: 50%;
	visibility: hidden;
}

#toggleDesktop+label {
	position: absolute;
	cursor: pointer;
	padding: 9px;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0, #12A8BD), color-stop(1, #02CCE4) );
	background: -moz-linear-gradient(bottom, #12A8BD,  #02CCE4);
	color: #FFF;
 	height:20px;
    width:120px;
    border-radius:  0 0 200px 200px;
    -moz-border-radius:   0 0 200px 200px;
    -webkit-border-radius:  0 0 200px 200px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
	margin: 0px 50px;
	transition: all 500ms ease;
	font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
	left: 43%;
	box-shadow: -8px 6px 3px #CACACA;
	border-bottom-right-radius:25px 50px;
	border-bottom-left-radius:25px 50px;
	text-shadow: 0 1px 1px rgb(28, 28, 28);
}

#toggleDesktop+label:after {
	content: "Menu"
}

.container {
	transition: margin 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	padding: 0em 0em;
	background:radial-gradient(ellipse farthest-side at top,#00e0ff 20%,#00beda 150%); /* -webkit-gradient( linear, left top, left bottom, color-stop(0.05,#00D7F0), color-stop(1,#0AA6BB) ); */
	padding-top:1.5em;
	box-shadow:8px 6px 7px -5px #506d71;
	/* border-bottom: 10px solid #007094; */
}

#toggleDesktop:checked ~ .message {
	top: 0;
}

#toggleDesktop:checked ~ .container {
	margin-top: 325px;
}

#toggleDesktop:checked+label {
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0, #12A8BD), color-stop(1, #02CCE4) );
}

#toggleDesktop:checked+label:after {
	content: "Close"
}

.menu {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 11px;
    color: #000000;
    text-decoration:none;
}

#toggle {
	position: absolute;
	appearance: none;
	cursor: pointer;
	left: 50%;
	visibility: hidden;
}

#toggle+label {
	position: absolute;
	cursor: pointer;
	padding: 9px;
	background:-webkit-gradient( linear, left bottom, left top, color-stop(0, #12A8BD), color-stop(1, #02CCE4) );
	background: -moz-linear-gradient(bottom, #12A8BD,  #02CCE4);
	color: #FFF;
 	height:20px;
    width:120px;
    border-radius:  0 0 200px 200px;
    -moz-border-radius:   0 0 200px 200px;
    -webkit-border-radius:  0 0 200px 200px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
	margin: 0px 50px;
	transition: all 500ms ease;
	font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
	left: 43%;
	box-shadow: -8px 6px 3px #CACACA;
	border-bottom-right-radius:25px 50px;
	border-bottom-left-radius:25px 50px;
	text-shadow: 0 1px 1px rgb(28, 28, 28);
}

#toggle+label:after {
	content: "Menu"
}

#toggle:checked ~ .message {
	top: 0;
}

#toggle:checked ~ .container {
	margin-top: 325px;
}

#toggle:checked+label {
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0, #12A8BD), color-stop(1, #02CCE4) );
}

#toggle:checked+label:after {
	content: "Close"
}
/* MAIN PAGE CONTENT */
/* ..................................................................................................................................................... */
